
.card{
  border: 1px solid black;
  border-radius: 8px;
  box-shadow: 5px 5px 5px grey;
  padding: 10px;
  margin: 10px;
  text-align: center;
  max-width: 200px;
  background-color: antiquewhite;
  display: inline-block;
}
.card-img {
  width: 100%;
  height: auto;
  border: 1px solid #ef6565;
  border-radius: 50%;
}
.card-title {
  font-size: 20px;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
}
.card-desc {
  font-size: 16px;
  color: #666;
  font-family: Arial, Helvetica, sans-serif;
}

/* .main-student-card{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
} */
Students {
  background-color: #ef6565;
  
}
.student-card {
  border: 1px solid black;
  margin: 2px;
  padding: 0px 4px 0px 2px;
  max-width: 350px;
  min-width: auto;
  border-radius: 8px;
  font-family:Arial, Helvetica, sans-serif;
  /* flex-grow: 3; */
}
.welcome-msg {
  color: whitesmoke;
  background-color: green;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  margin: 0px;
}
.login-prompt {
  color: whitesmoke;
  background-color: red;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  margin: 0px;
}
.list-item h3,.list-item h4, .list-item{
  list-style-type: none;
  display: inline;
  margin: 0px;
  padding: 0px;
}
.list-item{
  padding: 0px;
  margin: 0px;
  display:inline;
}
.list-category{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  color: #333;
  background-color: lightblue;
  margin: 15px 0px 0px 0px;
  padding: 0px;
  display: inline-block;
}
.list-item li:hover{
  background-color: lightgrey;
  cursor: pointer;
}
.main-component{
  text-align: center;
  margin: 0px;
  padding: 0px;
  background-color: lightyellow;
  display: flex;
}
.my-component{
  font-size: 24px;
  color: darkblue;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  flex:content;
}
.my-component2{
  font-size: 24px;
  color: darkblue;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  flex:content;
}
.my-component3{
  font-size: 24px;
  color: darkblue;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  flex:content;
}
.my-component4{
  font-size: 24px;
  color: darkblue;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  flex:content;
}
.my-component5{
  font-size: 24px;
  color: darkblue;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  flex:content;
}
.my-component5 label{
  font-size: 20px;
  color: darkblue;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.my-component6{
  font-size: 24px;
  color: darkblue;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  flex:content;
}

footer{
  text-align: center;
  background-color: lightgrey;
  padding: 10px;
  font-size: larger;
}

.main-component-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.main-color-picker{
  text-align: center;
  align-items: center;
  display: flex;
  margin: 0px;
  flex-direction: column;
}
.main-color-picker h2{
  color: darkblue;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.color-picker-container{
  width: 200px;
  height: 200px;
  border: 2px solid black;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.25s ease;
}
.color-picker-container p{
  font-size: 1.5rem;
  color: black;
}

label{
  font-size: 20px;
  color: darkblue;
  margin: auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
input[type="color"]{
  display: block;
  margin: 10px auto;
  width: 50px;
  cursor: pointer;
  border: 1px solid #ccc;
}
.car-form{
  background-color: lightcyan;
  border: 2px solid black;
  border-radius: 8px;
  padding: 15px;
  max-width: 500px;
  display: flex;
  height: 150px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.car-form h2{
  font-size: 22px;
  color: darkblue;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 50px;
}
.car-inputs{
  display: flex;
  justify-content: center;
  gap: 10px;
}
.car-inputs input{
  /* margin: 0px 0px; */
  padding: 5px;
  font-size: 16px;
  width: 150px;
  /* border: 1px solid #ccc; */
  /* border-radius: 4px; */
}
